@model PersonalDiary.Web.Models.ErrorViewModel
@{
    ViewData["Title"] = "Lỗi";
}

<h1 class="text-danger">Có lỗi xảy ra.</h1>
<h2 class="text-danger">Xin lỗi, đã có lỗi xảy ra khi xử lý yêu cầu của bạn.</h2>

<div>
    <h3>Chi tiết lỗi:</h3>
    <p>
        <strong>Request ID:</strong> @Model.RequestId
    </p>
    <p>
        <strong>Thông báo lỗi:</strong> @ViewData["ErrorMessage"]
    </p>
</div>